<br>
<h1>Cambio de Divisas</h1>
<br>
<h1 style="color: red;">El Valor de Compra es: {{valorCompra}}</h1>
<h1 style=" color: green;">El Valor de Venta es: {{valorVenta}}</h1>
<br>
<div>
  <input type="number" class="form-control" id="idMontoRecibido" name="montoRecibido" [(ngModel)]="divisa.montoRecibido"
    id="cantidadV" name="cantidadV" min="1" #venta="ngModel" ngModel negativo required>
  <div class="mensaje-de-error" *ngIf="venta.touched && venta.invalid">
    <div class="text-danger font-weight-bolder" *ngIf="venta?.errors.required">Monto requerido</div>
    <div class="text-danger font-weight-bolder" *ngIf="venta?.errors.negativo">El monto debe ser mayor a cero</div>
  </div>
</div>
<br>
<form class="p-2 text-center mt-2 shadow rounded" id="form" #formValor="ngForm">
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="customRadio" name="txtTipoCambio" value="ARS/USD"
      [(ngModel)]="divisa.tipoCambio" #tipo="ngModel" ngModel required>
    <label class="custom-control-label" for="customRadio">Cambio de $ (pesos) a USD (dólar)</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="customRadio2" name="txtTipoCambio" value="USD/ARS"
      [(ngModel)]="divisa.tipoCambio" #tipo="ngModel" ngModel required>
    <label class="custom-control-label" for="customRadio2">Cambio de USD (dólar) a $ (pesos)</label>
  </div>
  <div class="mensaje-de-error" *ngIf="tipo.touched && tipo.invalid">
    <div class="text-danger font-weight-bolder" *ngIf="tipo?.errors.required">Tipo requerido</div>
  </div>
  <div class="row form-group" id="desde-form">
    <label>Elija el Cliente: </label>
    <select name="cliente" id="cliente" class="form-control" [(ngModel)]="divisa.cliente">
      <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{cliente.apellido}}</option>
    </select>
  </div>
</form>
<br>
<div class="col-md-12 col-sm-12 col-xs-12">
  <input type="button" class="btn btn-warning btn-block" value="Convertir" (click)="convertirMoneda(formValor)" />
</div>
<br>
<h1>Monto a Entregar: <span class="badge badge-secondary">{{montoMostrar}} </span></h1>

<br>


<table class="table table-striped table-primary" [mfData]="divisas" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="id">Id</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="compra">Compra</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="venta">Venta</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="montoRecibido">Monto Recibido</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="montoEntregado">Monto Entregado</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="tipoCambio">Tipo de Cambio</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="cliente.apellido">Cliente</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.id}}</td>
      <td>{{item.compra}}</td>
      <td>{{item.venta}}</td>
      <td>{{item.montoRecibido}}</td>
      <td>{{item.montoEntregado}}</td>
      <td>{{item.tipoCambio}}</td>
      <td>{{item.fecha.timestamp * 1000 | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.cliente.apellido}}</td>
      <td>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal-delet"
          (click)="elegirMoneda(item)">Borrar</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>

  <!-- The Modal Delet -->
  <div class="modal fade " id="form" id="myModal-delet">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Eliminar Registro: </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body " id="form">

          <form>
            <div>

              <div class="row form-group" id="desde-form">
                <label for="name">Compra*</label>
                <input type="text" id="compra" name="compra" [(ngModel)]="divisa.compra" disabled />
              </div>

              <div class="row form-group" id="desde-form">
                <label for="name">Venta*</label>
                <input type="text" id="venta" name="venta" [(ngModel)]="divisa.venta" disabled />
              </div>



              <div class="row form-group" id="desde-form">
                <label for="name">Monto Recibido*</label>
                <input type="text" id="montoRecibido" name="montoRecibido" [(ngModel)]="divisa.montoRecibido"
                  disabled />
              </div>

              <div class="row form-group" id="desde-form">
                <label for="name">Monto Entregado*</label>
                <input type="text" id="montoEntregado" name="montoEntregado" [(ngModel)]="divisa.montoEntregado"
                  disabled />
              </div>

              <div class="row form-group" id="desde-form">
                <label for="name">Tipo de Cambio*</label>
                <input type="text" id="tipoCambio" name="tipoCambio" [(ngModel)]="divisa.tipoCambio" disabled />
              </div>

            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="col-6">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="borrarMoneda(divisa.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
